.comic__block {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem; 
}

.block__img-list {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid orange;
    height: 100%;
}

.comic__menu {
    display: flex;
    width: max-content;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.menu__item {
    list-style-type: none;
}